body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}
header {
  background-color: #007bff;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  margin-top: 75px;
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
}
header img {
  width: 200px; /* Adjust the width as needed */
  margin-top: 20px;
}
section {
  padding: 40px 20px;
  text-align: center;
}
section h2 {
  color: #007bff;
  margin-bottom: 20px;
}
section p {
  line-height: 1.6;
  margin-bottom: 40px;
}
footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Style the navigation bar */
#navbar {
  position: fixed; /* Fixed position */
  top: 0; /* Stick it to the top */
  height: 10%;
  width: 100%; /* Full width */
  background-color: #007bff; /* Blue background */
  z-index: 1000; /* Ensure it stays on top of other content */
}

/* Navigation links */
#navbar ul {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0, -50%);
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  display: flex; /* Display the list items inline */
  justify-content: flex-end; /* Align links to the right */
}

/* Style the links */
#navbar a {
  display: block; /* Make links fill their container */
  color: white; /* White text color */
  text-align: center; /* Center text */
  padding: 14px 16px; /* Add some padding */
  text-decoration: none; /* Remove underlines */
}

/* Change color on hover */
#navbar a:hover {
  background-color: #ddd; /* Light grey background */
  color: black; /* Black text */
}

img.logo {
  height: 50px;
  width: 50px;
  position: relative;
  left: 0%;
  margin-left: 16px;
  top: 50%;
  transform: translate(0, 45%);
  z-index: 10001;
}
